<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render 'shared/navbar', title: 'Discover' %>

    <div id="feed" class="my-3 mx-2">
      <div
        data-controller='modal'
        data-modal-target='wrapper'
        data-action='keydown@window->modal#closeWithKeyboard'
        data-modal-turbo-value="true"
        data-modal-url-value='/search'
        class="w-full flex"
      >
        <button data-action='modal#view' class="items-center flex text-center mx-auto p-2 border border-dashed rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </button>
      </div>
    </div>

    <div id="feed" class="my-3 mx-2">
      <h2>Your Feed</h2>

      <% @feed.each do |recipe| %>
        <%= link_to recipe do %>
          <%= render recipe %>
        <% end %>
      <% end %>
    </div>

    <div id="feed" class="my-3 mx-2">
      <h2>New Recipes</h2>

      <% @discoverables.each do |recipe| %>
        <%= link_to recipe do %>
          <%= render recipe %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>