<div class="mx-auto w-full">

  <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1">My Recipes</h1>
  <%= render 'shared/collection', items: @recipes, small: true, horizontal: true , fallback: true do %>
    <%= link_to 'Create your first Recipe!', new_recipe_path, data: { turbo: false }, class: "rounded-lg p-24 text-center font-semibold border-dashed border border-black text-gray-900 block font-large md:text-md hover:bg-gray-900 hover:text-gray-100 m-4" %>
  <% end %>

  <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">From my Cookbooks</h1>
  <%= turbo_frame_tag 'collection', src: paginated_collection_path(source: 'saved_recipes', link: true) do %>
  <% end %>

  <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">From Cookbooks I follow</h1>
  <%= turbo_frame_tag 'collection', src: paginated_collection_path(source: 'cookbook_subscriptions', link: true) do %>
  <% end %>

  <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">From Chefs I follow</h1>
  <%= turbo_frame_tag 'collection', src: paginated_collection_path(source: 'user_subscriptions', link: true) do %>
  <% end %>

</div>