<%= turbo_frame_tag user do %>
  <div class="flex w-full items-center">
    <% if user.avatar.attached? %>
      <div class="mr-2 w-16 rounded-full">
        <%= image_tag user.avatar, class: 'w-full' %>
      </div>
    <% end %>
    <div class="grid w-full grow">
      <p class="font-bold tracking-wide font-bold ">
        <%= user.username %>
      </p>
      <div class="inline-flex text-gray-500 text-xs truncate">
        <span>User</span>
        <span class="px-1">&#8226;</span>
        <span><%= user.recipes.count %> recipes</span>
        <span class="px-1">&#8226;</span>
        <span><%= user.cookbooks.count %> cookbooks</span>
      </div>
    </div>
  </div>
<% end %>