<%= turbo_frame_tag cookbook do %>
  <div class="flex w-full items-center">
    <div class="mr-2 w-16">
      <% if cookbook.image.attached? %>
        <%= image_tag cookbook.image, class: 'w-full' %>
      <% end %>
    </div>
    <div class="grid w-full grow">
      <p class="font-bold tracking-wide font-bold ">
        <%= cookbook.title %>
      </p>
      <div class="inline-flex text-gray-500 text-xs truncate">
        <span>Cookbook by <%= cookbook.user.username %> </span>
        <span class="px-1">&#8226;</span>
        <span class="truncate"><%= cookbook.description %></span>
      </div>
    </div>
  </div>
<% end %>