<%= turbo_frame_tag (cookbook || recipe) do %>
  <div class="flex w-full items-center rounded justify-between my-4 p-2 border border-dotted border-gray-300 ">
    <div class="justify-start flex">
      <div class="p-1">
        <h1 class="font-bold tracking-wide font-bold">
          <%= local_assigns[:select] == 'cookbook' ? cookbook.title : recipe.title %>
        </h1>
        <div class="flex">
          <div class="text-gray-600 mt-1 text-sm max-h-24 max-w-24">
            <% if local_assigns[:select] == 'cookbook' %>
              <% if cookbook.image.attached? %>
                <%= image_tag cookbook.image, class: 'rounded' %>
              <% end %>
            <% else %>
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image, class: 'rounded' %>
              <% end %>
            <% end %>
          </div>

          <div class="grid">
            <div class="text-gray-700 truncate">
              <%= local_assigns[:select] == 'cookbook' ? cookbook.description : recipe.description %>
            </div>
            <div class="text-gray-500 text-xs">
              <% if local_assigns[:select] == 'cookbook' %>
                <span><%= cookbook.recipes.count %></span>
                <span>Recipes</span>
              <% else %>
                <div class="flex">
                  <div class="text-gray-500 grid text-xs">
                    <span><%= recipe.time %></span>
                    <span>Minutes</span>
                  </div>
                  <span class="border-l mx-2"></span>
                  <div class="text-gray-500 grid text-xs">
                    <span><%= recipe.servings %></span>
                    <span>Servings</span>
                  </div>
                  <span class="border-l mx-2"></span>
                  <div class="text-gray-500 grid text-xs">
                    <span><%= recipe.ingredients.count %></span>
                    <span>Ingredients</span>
                  </div>
                  <span class="border-l mx-2"></span>
                  <div class="text-gray-500 grid text-xs">
                    <span><%= recipe.instructions.count %></span>
                    <span>Steps</span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- create + set recipe and cookbook to nil if not present to avoid undefined error-->
    <% if (recipe ||= nil || cookbook ||= nil) && recipe&.id && cookbook&.id %>
      <div class="">
        <%= button_to join_cookbook_recipe_path(recipe_id: recipe.id, cookbook_id: cookbook.id, select: local_assigns[:select] ) do %>
          <% if cookbook.recipes.exists?(recipe.id) %>
            <div class="font-semibold text-gray-300 hover:text-red-300">
              Remove
            </div>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-gray-400 hover:text-green-600" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>