<div id="<%= dom_id @cookbook %>" class="mx-auto w-full md:px-24">
  <div class="grid grid-cols-4 md:grid-cols-6 w-full items-center pb-4">

    <a href='javascript:history.go(-1)'>
      <div class="font-medium text-lg flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-700 hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19l-7-7 7-7"/>
        </svg>
      </div>
    </a>

    <div class="grid col-span-2 md:col-span-4">
      <h1 class="font-bold tracking-wide text-2xl md:text-4xl w-full text-center"><%= @cookbook.title %></h1>
      <div class="text-center text-gray-500 text-sm md:text-lg">
        Cookbook by
        <%= link_to @cookbook.user.username, @cookbook.user, data: { 'turbo-frame': "_top" },
                    class: 'text-gray-700 font-medium' %>
      </div>
    </div>

    <div class="justify-self-end">
      <% if current_user == @cookbook.user %>
        <div
          data-controller='modal'
          data-modal-target='wrapper'
          data-action='keydown@window->modal#closeWithKeyboard'
          data-modal-turbo-value="true"
          data-modal-title-value="Add Recipe"
          data-modal-url-value='/new_join_cookbook_recipe?cookbook_id=<%= @cookbook.id %>'
          class="w-full flex"
        >
          <button data-action='modal#view' class=" text-center mx-auto hover:text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
          </button>
        </div>
      <% else %>
        <div class="text-center text-xs md:text-lg">
          <%= turbo_frame_tag 'subscription_button_container',
                              src: load_subscription_path(subscribable_id: @cookbook.id,
                                                          subscribable_type: 'Cookbook') do %>
            <%= render 'shared/subscription_button' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if current_user == @cookbook.user %>
    <%= link_to edit_cookbook_path(@cookbook), class: 'self-center' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
           class="h-6 w-6 text-gray-300 hover:text-black mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
      </svg>
    <% end %>
  <% end %>

  <div class="text-gray-700 text-lg w-full mx-auto my-2 text-center md:w-3/4">
    <%= @cookbook.description %>
    <% if @cookbook.image.attached? %>
      <div class="md:max-w-xl mx-auto">
        <%= image_tag @cookbook.image, class: 'mx-auto w-full h-full my-2 rounded' %>
      </div>
    <% end %>
  </div>

  <div>
    <h1 class="w-full font-extrabold px-6 mt-4 text-lg bg-black text-white text-center rounded">
      <%= @cookbook.recipes.count %> RECIPES
    </h1>
    <div id="recipes" class="grid my-3 mx-2">
      <% @cookbook.recipes.each do |recipe| %>
        <div class="my-2 text-xl px-4">
          <%= link_to recipe do %>
            <%= render recipe %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

