<div class="mx-auto flex w-full">
  <div class="mx-auto w-full md:w-3/4">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex w-full justify-between pb-4 pt-0 rounded">
      <a href='javascript:history.go(-1)'>
        <div class="font-medium text-lg flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-700 hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 19l-7-7 7-7"/>
          </svg>
        </div>
      </a>

      <div class="flex">
        <% if current_user == @cookbook.user %>
          <div class="flex">
            <%= link_to edit_cookbook_path(@cookbook), class: 'self-center' do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-gray-300 hover:text-black mr-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"/>
              </svg>
            <% end %>
            <div
              data-controller='modal'
              data-modal-target='wrapper'
              data-action='keydown@window->modal#closeWithKeyboard'
              data-modal-turbo-value="true"
              data-modal-title-value="Add Recipe"
              data-modal-url-value='/new_join_cookbook_recipe?cookbook_id=<%= @cookbook.id %>'
              class="w-full flex"
            >
              <button data-action='modal#view' class="items-center flex text-center mx-auto hover:text-blue-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
              </button>
            </div>
          </div>
        <% else %>
          <div class="text-center">
            <%= turbo_frame_tag 'subscription_button_container', src: load_subscription_path(subscribable_id: @cookbook.id, subscribable_type: 'Cookbook') do %>
              <%= render 'shared/subscription_button' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="<%= dom_id @cookbook %>">
      <h1 class="font-bold tracking-wide text-2xl md:text-4xl w-full text-center"><%= @cookbook.title %></h1>
      <div class="text-center text-gray-500 text-sm md:text-lg">
        Cookbook by <%= link_to @cookbook.user.username, @cookbook.user, data: { 'turbo-frame': "_top" }, class: 'text-gray-700 font-medium' %>
      </div>
      <div class="text-gray-700 text-lg md:text-xl mx-auto w-full text-center pt-4 md:w-3/4">
        <%= @cookbook.description %>
        <% if @cookbook.image.attached? %>
          <%= image_tag @cookbook.image, class: 'mx-auto w-full my-2 rounded' %>
        <% end %>
        <div class="text-sm md:text-lg flex justify-center mt-4 my-2">
          <%= render 'cookbooks/details', cookbook: @cookbook %>
        </div>
      </div>

      <div class="p-2">
        <h1 class="w-full font-extrabold px-5 bg-gray-500/80 text-gray-100 rounded">RECIPES</h1>
        <div id="recipes" class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 my-3 mx-2">
          <% @cookbook.recipes.each do |recipe| %>
            <div class="my-2 text-xl px-4">
              <%= link_to recipe do %>
                <%= render recipe %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

