<div class="mx-auto w-full">

  <% if @recommendations %>
    <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1">Recommended for You</h1>
    <%= render 'shared/collection', items: @recommendations, link: true, horizontal: true, rows: 3 %>
  <% end %>

  <% if @recipes %>
    <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">Recipes</h1>
    <%= render 'shared/collection', items: @recipes, small: true, horizontal: true, rows: 1 %>
  <% end %>

  <% if @cookbooks %>
    <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">Cookbooks</h1>
    <%= render 'shared/collection', items: @cookbooks, small: true, horizontal: true, rows: 1 %>
  <% end %>

  <% if @users %>
    <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">Chefs</h1>
    <%= render 'shared/collection', items: @users, link: true, horizontal: true, rows: 3 %>
  <% end %>

  <% if @subscriptions %>
    <h1 class="font-extrabold text-4xl md:text-5xl text-gray-800 mb-1 mt-12">Recently Subscribed</h1>
    <%= render 'shared/collection', items: @subscriptions, link: true, horizontal: true, rows: 4 %>
  <% end %>

</div>